.banner {
  background-image: url("images/background.png");
  background-size: cover;
  background-position: center;
  height: 78vh;
  color: white;
  text-shadow: 0 0 5px rgba(0,0,0, 0.3);
  display: flex;
  align-items: center;
}

/*.banner h1,*/
.banner p {
  padding: 0 0 20px 0;
  font-size: 1.3em;
  opacity: 0.8;
}


