.cards {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.card {
  box-shadow: 0 0 5px rgba(0,0,0, 0.2);
  padding: 0px 20px 20px 20px;
}

.card img{
  width: 150px;
  height: 150px;
  padding: 20px;
  padding-bottom: 0;
}

.card h4 {
  margin: 0 auto;
}

.card p {
  margin: 0;
  padding: 10px 30px;
  color: rgba(0,0,0, 0.3);
}


.container > h2 {
  text-align: center;
}
